@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    font-family: 'Oswald', sans-serif;
    color: $colorWhite;
    background-color: $backgroundColor;
    height: 100vh;
}